@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Acasa";
    var detailsRoute = "/Details/{0}";
}

<div class="row">

    @foreach( var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4" >

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px; ">@product.Name</label>
                    </h4>
                </div>
                @*class="card-img-top"*@
                <img style="height:100%" class="rounded-circle" src="~/@product.ImagePath" alt="no image" />

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313"><b>@product.Price lei</b></label>
                        </div>
                        <a href="@string.Format(detailsRoute, product.Id)" class="btn pull-right btn-outline-info">Detalii</a>
                    </div>
                </div>

            </div>
        </div>
    }

</div>